.large-button {
	width:80%;
}


form.ng-invalid-required .control-group{background-color: red; color:yellow;}

.input-help {
  display: none;
  position:absolute;
  z-index: 100;
  top: -6px;
  left: 160px;
  width:200px;
  padding:10px;
  background:#fefefe;
  font-size:.875em;
  border-radius:5px;
  box-shadow:0 1px 3px #aaa;
  border:1px solid #ddd;
  opacity: 0.9;
}

label {
	width: 10em;
}

label.error {
	position:left;
	width:80%;
	_position: absolute;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	color: red; padding-left: .5em;
	vertical-align: top;
	background-color: #de4343;
	color:white;
	border-color: #c43d3d;
	border-radius:5px;
	-moz-border-radius:5px;
}

.signin{
	margin-top: -7px !important;
}

.online-status {
	width: 25px;
	height: 25px;
	padding-top: 5px;
}

.ui-progressbar .ui-progressbar-value { background-image: url(/img/pbar-ani.gif); }

.done-true {
  text-decoration: line-through;
  color: grey;
}

.appli-button-grp{
    padding-top:20px;
    margin-left: -80px;
}